<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/home.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/header') %>

    <main class="detail">

        <div class="ga-terug">
            <a><button class="button-secundair" onclick="history.back()"><img src="./images/iconen/arrow_left.svg"
                        alt="Like">Terug</button></a>
        </div>

        <section>
            <div>
                <div class="albumcover">
                    <img src="./images/covers/<%= song.albumId %>.png" alt="Achtergrondafbeelding">
                </div>
                <div class="titel-flex">
                    <div>
                        <h1><%= song.title %></h1>
                        <p><%= song.artist %></p>
                    </div>
                    <div>
                        <p><%= song.likes.length %></p>
                        <svg id="<%= song._id %>" onclick="likeButton('<%= song._id %>')"
                            src="./images/iconen/hart_filled.svg" alt="Like"
                            class="<% for(var j=0; j<song.likes.length; j++) { if(song.likes[j] == userID){ %>liked<% }} %>"
                            width="32px" height="32px" viewBox="0 0 24.00 24.00" fill="none"
                            xmlns="http://www.w3.org/2000/svg" stroke="#000000"
                            stroke-width="0.00024000000000000003">

                            <path
                                d="M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z"
                                fill="none" />
                        </svg>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="grid2">
            <div>
                <h3><%= song.artist %></h3>
                <p>Artiest</p>
            </div>

            <div>
                <h3><%= song.album %></h3>
                <p>Album</p>
            </div>

            <div>
                <h3><%= song.genre %></h3>
                <p>Genre</p>
            </div>

            <div>
                <h3><%= song.bpm %></h3>
                <p>BPM</p>
            </div>

            <div>
                <h3><%= song.key %></h3>
                <p>Toonsoort</p>
            </div>

            <div>
                <h3>67%</h3>
                <p>Populairiteit</p>
            </div>
        </div>
        </section>


        <section>
            <h2>Personen die dit leuk vinden</h2>
            <div class="grid1">

                <a href="matchprofiel">
                    <div>
                        <img class="hoofdfoto" src="./images/binc.jpg"
                            alt="Achtergrondafbeelding">
                        <div>
                            <p>House</p>
                        </div>
                    </div>
                    <div class="genres-flex-main">
                        <div class="titel-flex-main">
                            <div>
                                <h3>Filip Hensels</h3>
                                <p></p>
                            </div>
                            <button class="button-secundair"><img src="./images/iconen/plus.svg"
                                alt="Like"></button>
                            <div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="matchprofiel">
                    <div>
                        <img class="hoofdfoto" src="./images/binc.jpg"
                            alt="Achtergrondafbeelding">
                        <div>
                            <p>House</p>
                        </div>
                    </div>
                    <div class="genres-flex-main">
                        <div class="titel-flex-main">
                            <div>
                                <h3>Filip Hensels</h3>
                                <p></p>
                            </div>
                            <button class="button-secundair"><img src="./images/iconen/plus.svg"
                                alt="Like"></button>
                            <div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="matchprofiel">
                    <div>
                        <img class="hoofdfoto" src="./images/binc.jpg"
                            alt="Achtergrondafbeelding">
                        <div>
                            <p>House</p>
                        </div>
                    </div>
                    <div class="genres-flex-main">
                        <div class="titel-flex-main">
                            <div>
                                <h3>Filip Hensels</h3>
                                <p></p>
                            </div>
                            <button class="button-secundair"><img src="./images/iconen/plus.svg"
                                alt="Like"></button>
                            <div>
                            </div>
                        </div>
                    </div>
                </a>

        </div>
        </section>


    </main>

    <script defer src="./scripts/script.js"></script>
    <script defer src="./scripts/buttons.js"></script>

</body>

</html>